body {
	background: #666666 url(../img/bg1.png);
	padding: 0px;
	margin: 0px;
}

.logo {
	color: #f09;
	text-shadow: -1px -2px 0 #555;
}

.guest {
	color: #f09;
}

.links {
	color: #fff;
}

.footer_nav li a{
	color: #f09;
	text-decoration: none;
}

.footer_nav li a:hover {
	color: #aaa;
	text-decoration: none;
}

.header_bg {
	background-color: #FFFFFF;
	box-shadow: 0px 0px 15px #555555;
}
.header_bg img {
	width: 50%;
}
.header_bg h1 {
	color: #11ABB0;
	text-shadow: -2px -2px 2px #222222;
	font-family: ;
	font-weight: bold;
}
.header_bg p {
	color: #CC0000;
	text-shadow: -1px -1px 1px #CC0000;
	letter-spacing: 2px;
	font-style: italic;
	text-transform: lowercase;
}
.shadow_top {
	box-shadow: inset 0 8px 6px -6px #555555;
}
.shadow_bottom {
	box-shadow: 0 8px 6px -6px #555555;
}
.shadow_top_bottom {
	box-shadow: inset 0 8px 6px -6px #555555, 0 8px 6px -6px #555555;
}
.slide_frame {
	width: 100%;
}
.slide_frame img {
	width: 100%;
}
footer {
	padding: 2%;
	border-top: 15px solid #121212;
	background-color: #000;
	border-bottom: 4px solid #f09;
}

footer p {
	color: #f1f1f1;
}
footer ul li {
	list-style: none;
}
.footer_text h4 {
	color: #F5F5F5;
}
.footer_text p a {
	color: #AAAAAA;
	text-decoration: none;
}
.footer_text p a:hover {
	color: #F5F5F5;
	text-decoration: none;
}
.footer_text p {
	color: #AAAAAA;
	text-decoration: none;
}
.footer_text p:hover {
	color: #F5F5F5;
	text-decoration: none;
}
.footer_copyright, .footer_copyright a, .footer_copyright a:hover {
	color: #AAAAAA;
	font-size: 12px;
}

.custom {
	background-color: #000;
	color: #11ABB0;
}

.custom a {
	color: #11ABB0;
}

.custom a:hover {
	background-color: #000;
	color: #11ABB0;
}

.members img {
	width: 50%;
	margin-left: 25%;
}

#categ-menu ul {
	padding: 0;
	margin: 0;
}

#categ-menu ul li {
	width: 100%;
	list-style: none;
}

#categ-menu ul li a {
	width: 100%;
	display: block;
	font-weight: bold;
	line-height: 32px;
}

#categ-menu ul li a:hover {
	color: #C00;
}

@media screen and (max-width: 1700px){
	#logo_img1 {
	  display: none;
	}
	#logo_img2 {
	  display: none;
	}
}